

*{
    margin: 0;
    padding: 0;
}

body{
    background: url("https://images.unsplash.com/photo-1509978778156-518eea30166b?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
}

nav h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#search-button {
    --bg-color: 
#191f36;
    --snd-bg-color: 
#262b40;
    --text-color: 
#fff;
    --mian-color: 
#59b2f4;
  }

  #search-button.btn {
margin-bottom: 22px;
    display: inline-block;
    /* padding: 0 1rem; */
    background: var(--mian-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--mian-color);
    font-size: 1rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

#search-button.btn:hover {
    box-shadow: none;
}

#search-button span {
    color: var(--text-color);
}

#search-input{
    border-radius: 5px;
    margin-bottom: 22px;
  }

#container1{
    margin-bottom: 70px;
    margin-top: 10px;
}


.card{
    margin-top: 30px;
}



.nav-items ul li button.nav-link{
    border-radius: 10%;
    color: white;
}


.nav-items ul li button.nav-link:hover{
    color: wheat;
}

footer{
    background: gray;
    padding:20px 10px;
}

.footer-widget p{
    color: gainsboro;
}

footer ul li a{
    color: gainsboro;
}

footer ul li a:hover{
    text-decoration: none;
    color: white;
}

.card{
    height: 90%;
}

.card-img-top{
    height: 150px;
}